 {% extends "templates/basic.html" %}


{% block content %}
<div id='bio_text'>
	
<p>I'm a sophmore at the University of Michigan studying information science and American culture. This website was created for a course in Agile Web Development, and it is written in 100% original Python, HTML and CSS code.</p>
<p>I was raised in New Rochelle, New York and graduated from Iona Preparatory High School in 2014. Shortly after beginning my academic career in Ann Arbor, I discovered an interest in technology and began pursuing coursework in information science. Now, just a year later, I'm enrolled in the School of Information and building my own website!</p>

</div>
{% endblock %}