<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>

<div id="nav-wrapper">
	<img src='static/Photos/logo.png' alt='logo'/>
	<ul id="nav">
		<li><a href = 'home.html'>HOME</a></li>	
		<li><a href = 'photos.html'>PHOTOS</a></li>	
		<li><a href = 'writing.html'>ESSAYS</a></li>	
		<li><a href = 'bio.html'>BIO</a></li>	
	</ul>
</div>	



<body>
	<div id='content_sep'>
	</div>
<img id='home_banner' src = 'static/Photos/portfolio_banner.png' alt='banner'/>
<img id='home_banner_bottom' src ='static/Photos/portfolio_banner_bottom.png' alt='banner_two'/>
	
<footer>
		<div id='clear_footer'>
		</div>
		<div id='footer'>
			<h4>Copyright &copy; Salvatore DiGioia.</h4>
		</div>
</footer>
</body>
</html>