{% extends "templates/basic.html" %}

{% block content %}
<div id='photo_container'>

	<a class="lightbox" href="#photo_1">
   		<img src="static/Photos/photo_1.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_1">
   		<img src="static/Photos/photo_1.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_2">
   		<img src="static/Photos/photo_2.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_2">
   		<img src="static/Photos/photo_2.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_3">
   		<img src="static/Photos/photo_3.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_3">
   		<img src="static/Photos/photo_3.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_4">
   		<img src="static/Photos/photo_4.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_4">
   		<img src="static/Photos/photo_4.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_6">
   		<img src="static/Photos/photo_6.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_6">
   		<img src="static/Photos/photo_6.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
  	</div>

  	 <a class="lightbox" href="#photo_5">
   		<img src="static/Photos/photo_5.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_5">
   		<img src="static/Photos/photo_5.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_7">
   		<img src="static/Photos/photo_7.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_7">
   		<img src="static/Photos/photo_7.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_8">
   		<img src="static/Photos/photo_8.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_8">
   		<img src="static/Photos/photo_8.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_9">
   		<img src="static/Photos/photo_9.jpg"/>
	</a> 
	<div class="lightbox-target" id="photo_9">
   		<img src="static/Photos/photo_9.jpg"/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	</div>
</div>

<div id='photo_footer'>
</div>
{% endblock %}

