{% extends "templates/basic.html" %}

{% block content %}
<div id='photo_container'>

	<a class="lightbox" href="#photo_1">
   		<img src="static/Photos/photo_1.jpg" alt='graffiti'/>
	</a> 
	<div class="lightbox-target" id="photo_1">
   		<img src="static/Photos/photo_1.jpg" alt='graffiti'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_2">
   		<img src="static/Photos/photo_2.jpg" alt='more graffiti' />
	</a> 
	<div class="lightbox-target" id="photo_2">
   		<img src="static/Photos/photo_2.jpg" alt='more graffiti'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_3">
   		<img src="static/Photos/photo_3.jpg" alt='dog'/>
	</a> 
	<div class="lightbox-target" id="photo_3">
   		<img src="static/Photos/photo_3.jpg" alt='dog'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_4">
   		<img src="static/Photos/photo_4.jpg" alt='heart graffiti'/>
	</a> 
	<div class="lightbox-target" id="photo_4">
   		<img src="static/Photos/photo_4.jpg" alt='heart graffiti'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_6">
   		<img src="static/Photos/photo_6.jpg" alt='girl'/>
	</a> 
	<div class="lightbox-target" id="photo_6">
   		<img src="static/Photos/photo_6.jpg" alt='girl'/>
  	 <a class="lightbox-close" href="#"></a>
  	</div>

  	 <a class="lightbox" href="#photo_5">
   		<img src="static/Photos/photo_5.jpg" alt='girl in Paris'/>
	</a> 
	<div class="lightbox-target" id="photo_5">
   		<img src="static/Photos/photo_5.jpg" alt='girl in Paris'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_7">
   		<img src="static/Photos/photo_7.jpg" alt='free coffee'/>
	</a> 
	<div class="lightbox-target" id="photo_7">
   		<img src="static/Photos/photo_7.jpg" alt='free coffee'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_8">
   		<img src="static/Photos/photo_8.jpg" alt='people graffiti'/>
	</a> 
	<div class="lightbox-target" id="photo_8">
   		<img src="static/Photos/photo_8.jpg" alt='people graffiti'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	<a class="lightbox" href="#photo_9">
   		<img src="static/Photos/photo_9.jpg" alt='London at night'/>
	</a> 
	<div class="lightbox-target" id="photo_9">
   		<img src="static/Photos/photo_9.jpg" alt='London at night'/>
  	 <a class="lightbox-close" href="#"></a>
	</div>

	</div>
</div>

<div id='photo_footer'>
</div>
{% endblock %}

